.reddit-post { 
    margin: 1.5rem 0;
    font-family: 'Varela Round', sans-serif;
    background-color: white;
    box-shadow: 0px 0px 3px 1px #d8d8d8;
    padding: 0.7rem 0.3rem;
    display: flex;
}

.post-container {
    width: 100%;
}

.upvotes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0 0 0.6rem;
}

.upbutton:hover {
    color: rgb(35, 204, 35);
}

.downbutton:hover {
    color: red;
}

.post-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.image-container {
    overflow-x: hidden;
    width: 100%;
    object-fit: contain;
}

img {
    max-width: 100%;
}

.post-author {
    color: blue;
    font-weight: bold;
}

.post-details-container {
    align-items: center;
    border-top: 1px solid grey;
    font-size: 0.7rem;
}

.post-details {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid grey;
    margin: 0.5rem 3rem;
    padding-top: 0.8rem;
}

.comments-button {
    border: none;
    background-color: inherit;
}

.message-icon:hover {
    font-size: 1rem;
    color: blue;
}

.commentContainer {
    width: 90%;
    word-wrap: break-word;
    margin-top: 1rem;
}

.commentAuthor {
    color: blue;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.commentBody {
    margin-bottom: 1rem;
}

.displayComments {
    width: 100%;
}