body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  text-align: center;
  padding: 1.2rem 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem;
  color: black;
  font-weight: 800;
}

h1 .highlight {
  color: white;
}

.App {
  text-align: center;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: #f6f6f6;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #FF4500;
  background-color: #FF4500;
  position: fixed;
  height: 7rem;
}

.App-results {
  display: grid;
  grid-template-columns: 75% 25%;
  justify-content: space-between;
  padding: 10rem 17%;
}
